%p
  %strong Name:
  = @participant.name
%p
  %strong Conversation:
  = @participant.conversation

= link_to 'Edit', edit_participant_path(@participant)
|
= link_to 'Back', conversation_participants_path(@participant.conversation)
