%h1= link_to @contact.name, @contact

.pull-right= link_to 'Edit Contact', edit_contact_path(@contact), class: 'btn btn-default'

%table.table.table-hover
  %thead
    %tr
      %th Conversations
      %th

  %tbody
    - @contact.conversations.each do |conversation|
      %tr
        %td.date= conversation.date
        %td= link_to truncate(conversation.notes, length: truncate_length), conversation
