- flash.each do |type, message|
  %div{class: "alert #{bootstrap_class_for(type)} alert-dismissable"}
    %button.close{type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
    = message
